<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Search Results for "{{keyword}}":</h1>
    <!-- 브라켓 + 퍼센트로 html내에서 
        파이썬 코드를 쓸 수 있다. -->
    <!-- for문을 쓰고 브라켓 + 퍼센트 endfor 퍼센트 + 브라켓을 써줘서
        for문이 끝났다는 것을 알려줘야 한다. -->
    <!-- template내에서 딕셔너리에 값에 접근할 땐
        점으로 값에 접근한다 [""] (X)-->
    {% for job in jobs: %}
        <div>
            <span>{{job.position}}</span>
            <span>{{job.company}}</span>
            <span>{{job.location}}</span>
            <a href="{{job.link}}" target="_blank">
                Apply now &rarr;
            </a>
        </div>
    {% endfor %}
    <!-- 변수를 가져올 때는 열고 닫는 브라켓 두 개,
        로직을 쓸 때는 브라켓 + 퍼센트를 쓴다. -->
</body>
</html>